replicaCount: 1

image:
  repository: myacr.azurecr.io/web-ui
  tag: v1
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 8080

containerPort: 8080

resources:
  limits:
    cpu: "500m"
    memory: "512Mi"
  requests:
    cpu: "250m"
    memory: "256Mi"

namespace: bank-app

